@theme {
  /* ================================================ */
  /* breakpoints(xs(375) - sm(480) - md(768) - lg(1024) - xl(1440)) */
  /* ================================================ */

  --breakpoint-xs: 23.438rem; /* 375px */
  --breakpoint-sm: 30rem; /* 480px */
  --breakpoint-xl: 90rem; /* 1440px */

  --container-xs: 23.438rem; /* 375px */

  /* ================================================ */
  /* Colors */
  /* ================================================ */

  /* black */
  --color-black: #191919;

  /* gray */
  --color-gray-50: #fdfeff;
  --color-gray-100: #f3f4f8;
  --color-gray-200: #d2d4da;
  --color-gray-300: #b3b5bd;
  --color-gray-400: #93969f;
  --color-gray-500: #777a85;
  --color-gray-600: #5b5e69;
  --color-gray-700: #404251;
  --color-gray-800: #282a38;
  --color-gray-900: #111223;
  --color-gray-900-toast: rgba(17, 18, 35, 0.8);

  /* main */
  --color-main-100: #fffdf6;
  --color-main-200: #fff1c3;
  --color-main-300: #ffe590;
  --color-main-400: #ffd95d;
  --color-main-500: #ffcd2a;
  --color-main-600: #f6bc00;
  --color-main-700: #c39500;
  --color-main-800: #906e00;
  --color-main-900: #5d4700;

  /* red */
  --color-red-200: #ffe5e5;
  --color-red-500: #d94141;

  /* orange */
  --color-orange-200: #fff0e0;
  --color-orange-500: #df7c00;

  /* yellow */
  --color-yellow-200: #fff9cc;
  --color-yellow-500: #d7b70f;

  /* green */
  --color-green-200: #e5ffe9;
  --color-green-500: #3aa655;

  /* blue */
  --color-blue-200: #e5f1ff;
  --color-blue-500: #418cc3;

  /* purple */
  --color-purple-200: #f0e5ff;
  --color-purple-500: #9c68b3;

  --shadow-sm: 0px 1px 4px rgba(0, 0, 0, 0.06);
  --inner-shadow-sm: inset 0px 0px 5px rgba(0, 0, 0, 0.06);
}
