@layer utilities {
  .text-mt-1 {
    @apply text-2xl font-semibold leading-[150%] tracking-[-4%];
  }

  .text-mt-2 {
    @apply text-2xl font-normal leading-[150%] tracking-[-4%];
  }

  .text-mh-1 {
    @apply text-[1.375rem] font-semibold leading-[150%] tracking-[-4%];
  }

  .text-mh-2 {
    @apply text-[1.375rem] font-normal leading-[150%] tracking-[-4%];
  }

  .text-mb-1 {
    @apply text-lg font-semibold leading-[150%] tracking-[-2%];
  }

  .text-mb-2 {
    @apply text-lg font-normal leading-[150%] tracking-[-2%];
  }

  .text-mb-3 {
    @apply text-base font-semibold leading-[150%] tracking-[-2%];
  }

  .text-mb-4 {
    @apply text-base font-normal leading-[150%] tracking-[-2%];
  }

  .text-mb-5 {
    @apply text-sm font-semibold leading-[150%] tracking-[-2%];
  }

  .text-mb-6 {
    @apply text-sm font-normal leading-[150%] tracking-[-2%];
  }

  .text-mc-1 {
    @apply text-xs font-semibold leading-[150%] tracking-[-2%];
  }

  .text-mc-2 {
    @apply text-xs font-normal leading-[150%] tracking-[-2%];
  }

  .text-ml-1 {
    @apply text-[0.625rem] font-semibold leading-[150%] tracking-[-2%];
  }

  .text-ml-2 {
    @apply text-xs font-normal leading-[150%] tracking-[-2%];
  }

  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }

  .text-dt-1 {
    @apply text-2xl font-semibold leading-[150%] tracking-[-4%];
  }

  .text-dt-2 {
    @apply text-2xl font-normal leading-[150%] tracking-[-4%];
  }

  .text-dt-3 {
    @apply text-3xl font-semibold leading-[150%] tracking-[-4%];
  }

  .text-dh-1 {
    @apply text-[1.375rem] font-semibold leading-[150%] tracking-[-4%];
  }

  .text-dh-2 {
    @apply text-[1.375rem] font-normal leading-[150%] tracking-[-4%];
  }

  .text-dsh-1 {
    @apply text-lg font-semibold leading-[150%] tracking-[-2%];
  }

  .text-dsh-2 {
    @apply text-lg font-normal leading-[150%] tracking-[-2%];
  }
}
