@import 'tailwindcss';
@import 'tokens/src/colors.css';
@import 'tokens/src/typography.css';

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-3px);
  }
  50% {
    transform: translateX(3px);
  }
  75% {
    transform: translateX(-2px);
  }
}

@keyframes sheet-enter {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes button-enter {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes toast-enter {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes toast-leave {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

.animate-shake {
  animation: shake 0.3s ease-in-out;
}

.animate-sheet-in {
  animation: sheet-enter 0.2s ease-in-out forwards;
}

.animate-button-in {
  animation: button-enter 0.2s ease-out forwards;
}

.animate-toast-in {
  animation: toast-enter 0.2s ease-out forwards;
}

.animate-toast-out {
  animation: toast-leave 0.2s ease-in forwards;
}

@layer utilities {
  .wrapper {
    @apply min-w-xs max-w-[1400px] px-5 xl:mx-auto;
  }

  .drag-none {
    -webkit-user-drag: none;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    outline: none;
    background-color: #768797;
    border-radius: 8px;
  }

  /* Chrome, Edge, Safari */
  .custom-scrollbar::-webkit-scrollbar-button {
    display: none;
    height: 0;
    width: 0;
  }

  /* Firefox */
  .custom-scrollbar {
    outline: none;
    scrollbar-color: #768797 transparent;
  }
}
